.container-fluid
  .row
    = render 'partials/sidecard'
    .container.home_exterior_container_users.justify-content-start
      .container.users-back-container
        = link_to "Back", :back, class: 'back_button'
      .col-md-12
      - if @users.count > 0
        - @users.each_with_index do |user, index|
          .container.user-list-item
            = render partial: 'partials/user', locals: { user: user }
            .container.align-content-center.view-button-container
              = link_to "View Profile", show_user_path(user.nickname), class: 'view_profile_button'
          - unless index == @users.size - 1
            %hr.post-separation
      - else
        %p.no-users No users to show :(
    .container.d-flex.justify-content-center
      = paginate @users
