.container-fluid
  .container.users_exterior_container
    .row.users_container
      .col.d-flex.new-post-container
        = link_to "New Post", new_post_path, class: 'new_post_button'
      .container.show_user_exterior_container.justify-content-start
        .col-md-12
          .container.users_back_container
            = link_to "Back", :back, class: 'back_button'
          .container.show_user_container.justify-content-start
            .container.d-flex.flex-wrap
              = render partial: 'partials/user', locals: { user: @user }
              .container.d-flex.user_dates
                %p.user_birthday Born #{@user.birthday.strftime("%m/%d/%Y")}
                %p Joined #{@user.created_at.strftime("%m/%d/%Y")}
              - if @user == current_user
                .container.align-content-center.button-container
                  = link_to "Edit Profile", edit_user_registration_path, class: 'edit_profile_button'
              - else
                .container.align-content-center.button-container#follow_unfollow_container
                  - if current_user.following?(@user)
                    = render partial: 'partials/unfollow', locals: { user: @user, current_user: current_user }
                  - else
                    = render partial: 'partials/follow', locals: { user: @user }
            %hr.users_profile_separation
            .container.d-flex.user-stats-content
              .container.post-count-container
                %p.post-count #{@user.posts.count}
                %p Posts
              .container.d-flex#follow_unfollow_count
                = render partial: 'partials/follow-unfollow-stats', locals: { user: @user }
            %hr.users_profile_separation
            .container.users-post-containers
              .col-md-12
                #users-posts
                  - if @user.posts.any?
                    - @user.posts.each_with_index do |post, index|
                      = render partial: 'partials/post', locals: { post: post }
                      %i.bi.bi-chat-right.toggle-comments{id: "toggle-postcomment-#{post.id}", data: { post_id: post.id }}
                      .container.hidden{id: "comments-#{post.id}", data: { post_id: post.id }}
                        - if post.comments.any?
                          - post.comments.order(created_at: :asc).each do |comment|
                            = render partial: 'comments/show-comment', locals: { comment: comment }
                        - else
                          %p.no-comments No comments yet
                      - unless index == @user.posts.size - 1
                        %hr.profile_post_separation
                  - else
                    %p.no-user-posts No posts to show :(
                = render partial: 'partials/following-list', locals: { user: @user }
                = render partial: 'partials/followers-list', locals: { user: @user }

