.container.d-flex-column.login_exterior_container
  %h2.text-center.login_title Log in
  .container.d-flex
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .row.mb-3
        .field.login-fields
          = f.label :email, class: 'col-form-label login-label'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control email-login-field'
      .row.mb-3
        .field.login-fields
          = f.label :password, class: 'col-form-label login-label'
          = f.password_field :password, autocomplete: "current-password", class: 'form-control password-login-field'
        - if devise_mapping.rememberable?
          .field.remember-me-field
            = f.check_box :remember_me
            = f.label :remember_me
      .container.login-alert
        = flash[:alert]
      .container.d-flex.login-buttons-container
        .container
          = render "devise/shared/links"
        .actions.d-flex.justify-content-center.login_button
          = f.submit "Log in", class: "btn btn-primary login-btn"

