.container-fluid
  .row
    = render 'partials/sidecard'
    .container.show_post_exterior_container.justify-content-start
      .col-md-12
        .container.post_back_container
          = link_to "Back", :back, class: 'back_button'

        .container.show_post_container.justify-content-start
          .col-md-2
            - if @post.user.profile_picture.attached?
              = image_tag url_for(@post.user.profile_picture), class: 'post-user-image', alt: 'User Image'
            - else
              = image_tag 'user_picture.jpg', class: 'post-user-image', alt: 'Default Profile Image'
          .col-md-9
            .post-container
              = link_to "#{@post.user.first_name} #{@post.user.last_name}", show_user_path(@post.user.nickname), class: 'post-link fullname'
              = link_to "@#{@post.user.nickname}", show_user_path(current_user.nickname), class: 'post-link'
              .container.post-content
                %h5= @post.title
                %p= @post.body
                - if @post.image.attached?
                  = image_tag url_for(@post.image), alt: 'Post Image', class: 'post-image'
            .container.d-flex.post-icons-container
              = render partial: 'partials/like-unlike-posts', locals: { post: @post, current_user: current_user }
              %i.bi.bi-chat-right.toggle-postcomment-form{id: "toggle-postcomment-form-#{@post.id}", data: { post_id: @post.id }}
              .container.delete-post-button-container
                - if @post.user.id == current_user.id
                  %button.delete-post-button{ data: { bs: { toggle: 'modal', target: '#deleteModal' } } }
                    %i.bi.bi-trash3
            .container.new-post-comment.hidden{id: "postcomment-form-#{@post.id}"}
              = render 'comments/comment-form', commentable: @post, css_class: 'new-post-comment'
        .container.comments-exterior-container
          .container
          - if @post.comments.count == 1
            %h5.comments-title#comments-count= "#{@post.comments.count} Comment"
          - else
            %h5.comments-title#comments-count= "#{@post.comments.count} Comments"
          .container#comments
            - if @post.comments.any?
              - @post.comments.order(created_at: :asc).each do |comment|
                = render partial: 'comments/comment', locals: { comment: comment }

.modal.fade{ id: "deleteModal", tabindex: "-1", role: "dialog", "aria-labelledby" => "deleteModalLabel", "aria-hidden" => "true" }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header.justify-content-between
        %h5#deleteModalLabel.modal-title Post delete confirmation
        %button.close.close-modal{ type: "button", data: {bs: {dismiss: "modal" } }, "aria-label" => "Close" }
          %span{ "aria-hidden" => "true" } &times;
      .modal-body
        %p Are you sure you want to delete this post? This action can't be reverted.
      .modal-footer
        = button_to 'Delete', post_path(@post), method: :delete, class: 'delete-post-modal-button'
        %button.cancel-delete-post-modal-button{ type: "button", data: {bs: {dismiss: "modal" } } } Cancel

